@model FileManagerModel

@{
    ViewBag.Title = "Arquivos";
}

@if (Model.Files != null)
{
    <h3>Imagens:</h3>
    <hr />
    var caminho = Model.PathImagesProduto;
    <div class="row">
        @foreach (FileInfo file in Model.Files)
        {
            <div class="column">
                <img src="~/@caminho/@file.Name" width="125" height="125" title="@file.Name" asp-append-version="true">
                <div style="padding:10px;text-align:left">
                    <a href="@Url.Action("Deletefile","AdminImagens",new { fname=file.Name})">Deletar</a>
                </div>
            </div>
        }
    </div>
}
@if (ViewData["Erro"] != null)
{
    <img src="~/img/error.png" width="150" height="150" />
    <h4>@ViewData["Erro"]</h4>
}
<div class="clearfix"></div>
<hr />
<div>
    <span>Para ver o nome do arquivo passa o mouse na imagem</span>
</div>
<div class="form-group">
    <a class="btn btn-outline-info" asp-controller="AdminImagens" asp-action="Index">Retornar</a>
</div>
