<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselLanches" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="First slide"></li>
        <li data-bs-target="#carouselLanches" data-bs-slide-to="1" aria-label="Second slide"></li>
        <li data-bs-target="#carouselLanches" data-bs-slide-to="2" aria-label="Third slide"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img src="~/img/carousel1.jpg" class="w-100 d-block" alt="First slide" />
        </div>
        <div class="carousel-item">
            <img src="~/img/carousel2.jpg" class="w-100 d-block" alt="Second slide" />
        </div>
        <div class="carousel-item">
            <img src="~/img/carousel3.jpg" class="w-100 d-block" alt="Third slide" />
        </div>
    </div>
</div>
