@model LoginViewModel

<table class="table">
    <tr>
        <td class="text-center pt-5">
            <img src="~/img/login.png" alt="Fazer o Login" class="center-block" />
        </td>
        <td>
            <div class="row p-5">
                <div class="col-10 col-md-10 col-lg-10">
                    <h4>Login</h4>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group mt-4">
                            <label asp-for="UserName" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-6">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group my-4">
                            <div class="col-md-8">
                                <input type="submit" class="btn btn-success" value="Log in" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
