@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItems.Count > 0)
{
    <a asp-controller="CarrinhoCompra" asp-action="Index" class="text-reset">
        <span><img src="~/img/cart.ico" height="20" /></span>
        <span class="text-white ms-1">
            @Model.CarrinhoCompra.CarrinhoCompraItems.Count
        </span>
    </a>
}
